
<div id="background-nav">
</div>
<div class="ui main container">
    <div class="ui raised segment">
        <div class="ui grid stackable">
            <div class="four wide column">
                <img class="ui medium circular image centered" style="background-image:url('assets/img/logo.png')" id="user-img">
                <div class="ui small basic icon buttons fluid" id="user-social-links">
                    <a class="ui button"><i class="facebook large f icon"></i></a>
                    <a class="ui button"><i class="youtube large icon"></i></a>
                    <a class="ui button"><i class="github large icon"></i></a>
                  </div>
            </div>
            <div class="twelve wide column">
                <div class="content">
                    <h1 class="ui header Huge"> userFullName }}</h1>
                    <div class="meta">
                        <span>A short description made up to 200 characters</span>
                    </div>
                </div>
                <div class="ui grid" id="user-extra-info-grid">
                    <div class="column five wide">
                        <p>Age</p>
                        <p>Address</p>
                        <p>Email</p>
                        <p>Phone</p>
                    </div>
                    <div class="column eleven wide">
                        <p>24</p>
                        <p>Kirkuk, Iraq, earth</p>
                        <p>humana.human@gmail.com</p>
                        <p>0770 378 54 88</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <h3 class="ui header centered">Courses taught by  userFullName }}</h3>

    <div class="ui link cards four stackable column">
      <a class="card column" href="/courses/learn_c++">
          <div class="image">
              <img src="assets/img/test.jpg">
          </div>
          <div class="content">
              <div class="header">Course Name</div>
              <div class="meta">
              <span>By Mohammed Yousif</span>
              </div>
              <div class="description">
              <p>A short Description about this course</p>
              </div>
          </div>
          <div class="extra content">
              <span class="left floated">
                  <i class="user icon"></i>
                  75 Enrolled
              </span>
              <span class="right floated">
                  20/9/2018
              </span>
          </div>
      </a>
  </div>
</div>