<div id="background-nav" class="center">
  <div id="background-img" style="background-image:url('assets/img/home_background.jpg')"></div>
  <div class="ui container">
    <div class="content">
      <h1 class="ui large header inverted">Iraqi Learning Center</h1>
      <h3 class="ui header inverted">
        Welcome into the first Iraqi IT learning site.
      </h3>
    </div>
    <a class="ui c-green button huge no-radius" routerLink="/login">Get Started Now</a>
  </div>
</div>

<div id="sub-header-background">
  <h2 class="ui center aligned header">
    Header
    <div class="sub header">Sub Header</div>
  </h2>
</div>

<div class="ui grid doubling" id="features-container">
  <div class="doubling four column row">

    <div class="column">
      <h4 class="ui center aligned icon header">
        <i class="globe cap icon"></i>
        <span>Best Iraqi teaching site for us and the whole world</span>
      </h4>
    </div>
    <div class="column">
      <h4 class="ui center aligned icon header">
        <i class="graduation cap icon"></i>
        <span>All content are open source available to everyone</span>
      </h4>
    </div>
    <div class="column">
      <h4 class="ui center aligned icon header">
        <i class="heart icon"></i>
        <span>We'll teach you every thing we know, so you could do everything you love</span>
      </h4>
    </div>
    <div class="column">
      <h4 class="ui center aligned icon header">
        <i class="coffee icon"></i>
        <span>Have a cup of tea</span>
      </h4>
    </div>

  </div>
</div>

<div class="ui equal width center aligned grid">

  <div class="row doubling four column">
    <div class="column">
      <a href="http://google.com" class="ui image">
        <img src="assets/img/test.jpg">
      </a>
    </div>
    <div class="column">
      <a href="http://google.com" class="ui image">
        <img src="assets/img/test.jpg">
      </a>
    </div>
    <div class="column">
      <a href="http://google.com" class="ui image">
        <img src="assets/img/test.jpg">
      </a>
    </div>
    <div class="column">
      <a href="http://google.com" class="ui image">
        <img src="assets/img/test.jpg">
      </a>
    </div>
  </div>

  <div class="row doubling four column">
    <div class="column">
      <a href="http://google.com" class="ui image">
        <img src="assets/img/test.jpg">
      </a>
    </div>
    <div class="column">
      <a href="http://google.com" class="ui image">
        <img src="assets/img/test.jpg">
      </a>
    </div>
    <div class="column">
      <a href="http://google.com" class="ui image">
        <img src="assets/img/test.jpg">
      </a>
    </div>
    <div class="column">
      <a href="http://google.com" class="ui image">
        <img src="assets/img/test.jpg">
      </a>
    </div>
  </div>
  
</div>

<a class="ui c-green basic button huge no-radius center aligned" id="join-us-button" routerLink="/login">Join Us Now</a>
