<div id="background-nav" class="center">
  <div id="background-img" style="background-image:url('assets/img/home_background.jpg')"></div>
  <div class="ui container">
    <div class="content">
      <h1 class="ui large header inverted">Iraqi Learning Center</h1>
      <h3 class="ui header inverted">
        Welcome into the first Iraqi IT learning site.
      </h3>
    </div>
    <a class="ui c-green button huge no-radius" href="">Get Started Now</a>
  </div>
</div>
<div class="ui segment fluid">Biggest Iraqi open course Learning center</div>
<div class="ui segment fluid">An open source Iraqi community for us and the whole world</div>
<div class="ui segment fluid">World is changing, lets change with it?</div>
<div class="ui segment fluid">We don't need our country, they need us</div>
<div class="ui segment fluid">We'll teach you every thing we know, so you could do everything you love</div>
<div class="ui segment fluid">We can't do anything alone, we need all of you</div>
<div class="ui main center aligned text container">


</div>