<div class="ui grid login-form container">
  <div class="row centered">
    <div class="column">
      <h2 class="ui teal image header">
        <img src="assets/img/logo.png" class="image">
        <div class="content c-green">
          Log-in to your account
        </div>
      </h2>

      <form class="ui large form login">
        <div class="ui stacked segment">
          <div class="field">
            <div class="ui left icon input">
              <i class="user icon"></i>
              <input type="text" name="email" placeholder="E-mail address">
            </div>
          </div>
          <div class="field">
            <div class="ui left icon input">
              <i class="lock icon"></i>
              <input type="password" name="password" placeholder="Password">
            </div>
          </div>
          <div class="ui fluid large c-green submit button">Login</div>
          <a routerLink="/register" class="ui fluid large green basic button">Register</a>
        </div>

        <div class="ui error message"></div>
      </form>

    </div>
  </div>
</div>