<div class="ui black inverted vertical footer segment">
  <div class="ui center aligned container">
    <div class="ui stackable inverted grid">
      <div class="four wide column">
        <div class="ui inverted link list">
          <a class="item" routerLink="/home">Home</a>
          <a class="item" routerLink="/courses">Courses</a>
          <a class="item" href="https://Facebook.com" target="_blank">Facebook</a>
        </div>
      </div>
      <div class="eight wide column">
        <h3 class="ui inverted header">
          Learning <img src="assets/img/logo.png" class="ui image footer-logo"> Center
        </h3>
        <p> We beleive in free learning and open source contents </p>
      </div>
      <div class="four wide column">
        <h4 class="ui inverted header">Contact Us</h4>
        <form class="ui form">
          <div class="field">
            <input type="text" name="email" placeholder="E-mail">
          </div>
          <div class="field">
            <textarea rows="4" type="text" name="message" placeholder="Message"></textarea>
          </div>
          <button class="ui inverted blue basic button" type="submit">Send Message</button>
        </form>
      </div>
    </div>
    <div class="ui inverted section divider"></div>
    <div class="ui left aligned">
       &copy; copyright 2017 
       <div class="ui horizontal inverted small divided link list right aligned">
        <a class="item" href="http://c4i.herokuapp.com" target="_blank"> Code For Iraq </a>
      </div>
       - All right recerved
    </div>
  </div>
</div>