<div id="background-nav">
  <div class="ui container">
    <div class="ui grid stackable">
      <div class="column six wide mobile hidden">
        <div class="ui small image" style="background-image: url(assets/img/test.jpg);">
        </div>
      </div>
      <div class="column ten wide">

        <div class="ui divided items">
          <div class="item">
            <div class="content inverted">
              <h2 class="ui header inverted">The course: This is test course name</h2>
            </div>
          </div>
          <div class="item">
            <div class="ui button c-red no-radius">Continue the lessons</div>
          </div>
          <div class="item">
            <div class="content inverted">
              <div class="ui progress red inverted small" id="lesson-complete-progress">
                <div class="bar">
                  <div class="progress"></div>
                </div>
                <div class="label">No lessons been completed</div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<div class="ui main container">

  <div class="ui styled accordion fluid">
    <div class="title">
      <i class="dropdown icon"></i>
      What is a course?
    </div>

    <div class="content">
      <div class="ui middle aligned selection list celled">
        <div class="item">
          <img class="ui avatar image" src="/images/avatar/small/helen.jpg">
          <div class="content">
            <div class="header">Helen</div>
          </div>
        </div>
        <div class="item">
          <img class="ui avatar image" src="/images/avatar/small/christian.jpg">
          <div class="content">
            <div class="header">Christian</div>
          </div>
        </div>
        <div class="item">
          <img class="ui avatar image" src="/images/avatar/small/daniel.jpg">
          <div class="content">
            <div class="header">Daniel</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="ui styled accordion fluid">
    <div class="title">
      <i class="dropdown icon"></i>
      A test?
    </div>
    <div class="content">
      <div class="ui middle aligned selection list celled">
        <div class="item">
          <img class="ui avatar image" src="/images/avatar/small/helen.jpg">
          <div class="content">
            <div class="header">Helen</div>
          </div>
        </div>
        <div class="item">
          <img class="ui avatar image" src="/images/avatar/small/christian.jpg">
          <div class="content">
            <div class="header">Christian</div>
          </div>
        </div>
        <div class="item">
          <img class="ui avatar image" src="/images/avatar/small/daniel.jpg">
          <div class="content">
            <div class="header">Daniel</div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>