.main.container {
    margin-top: 3em;
}

#background-nav {
    background-color: #003049 !important;/*#ece4b7; #d36135;*/
    padding-top: 5em;
    padding-bottom: 2em;
}
#background-nav .content {
    text-overflow: ellipsis;
    overflow: hidden; 
    width: 100%;
    white-space: nowrap;
}
#background-nav .image {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}
#background-nav .inverted {
    color: #FFF;
}
#background-nav .button.c-red {
    padding: 1em 2em;
    font-size: 1.2em;
}
#background-nav .progress {
    margin-top: 2em;
}
#background-nav .progress .label {
    font-size: 1.2em;
    font-weight: normal;
}

.ui.accordion {
    margin-top: 2em;
}
.ui.accordion .content {
    padding-left: 0 !important;
    padding-right: 0 !important;
    padding-bottom: 0 !important;
}
.ui.accordion .content .celled .item {
    border-radius: 0;
    padding: 1em;
}